@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
* {
    text-decoration: none;
}
section {
    margin: 5em auto;
    width: min(40vw);
}

footer {
    margin: 5em auto;
    width: min(900px, 90vw);
}

#titulo-site {
    font-family: 'Poppins ExtraBold', sans-serif;
    text-align: center;
    display: flex center;
    font-size: 18pt;
}

#titulo-site a {
    color: #FFAE00;
}

.menu-links {
    font-family: 'Poppins SemiBold', sans-serif;
    display: flex;
    padding: 0;
    margin-bottom: 5rem;
    font-size: 14pt;
    list-style: none;
    transition: .3s ease-in-out;
}

.menu-links a {
    transition: .3s ease-in-out;
    color: #E3BD4A;
}

.menu-links a:hover {
    color: #8E6C04 !important;
    font-weight: bold;
}

.menu-links li {
    margin: 0 15px 0;
}

.menu-links li:first-child {
    margin-left: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    color: white;
    background: #222831;
    overflow-y: scroll;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 2px;
}

body::-webkit-scrollbar-track {
    background: #222831;
}

body::-webkit-scrollbar-thumb {
    background-color: #E3BD4A;
}

.inicioo {
    color: #8E6C04 !important;
}

/* Posts */
.Lista-de-jogos a {
    color: #E3BD4A;
    text-decoration: none;
    transition: .3s ease-in-out;
    font-size: 1.3rem;
}

.Lista-de-jogos a:hover {
    color: #8E6C04 !important;
    font-weight: bold;
}

.Receita a {
    color: #E3BD4A;
    text-decoration: none;
    transition: .3s ease-in-out;
    font-size: 1.3rem;
}

.Receita a:hover {
    color: #8E6C04 !important;
    font-weight: bold;
}

.Curiosidades-harry a {
    color: #E3BD4A;
    text-decoration: none;
    transition: .3s ease-in-out;
    font-size: 1.3rem;
}

.Curiosidades-harry a:hover {
    color: #8E6C04 !important;
    font-weight: bold;
}
/* Posts */
/*Voltar topo*/
#voltar-topo a {
    transition: .3s ease-in-out;
    color: #E3BD4A;
    text-decoration: none;
}

#voltar-topo a:hover {
    color: #8E6C04 !important;
}

html {
    scroll-behavior: smooth;
}
/*Voltar topo*/