@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');


body {
    background: #1B2029;
    color: white;
    font-weight: 500;
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
    width: min(900px, 90vw);
}
main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Poppins, sans-serif;
    font-size: 1.2rem;
}
main h1 {
    color: #E3BD4A;
    font-size: 3rem;
    margin-bottom: 3rem;
    text-align: center;
}
table {
    padding: 5rem;
}
img {
    width: 25rem;
    margin: 2.5em auto;
    margin-left: auto;
    margin-right: auto;
    border: 1.25px solid #1B2029;
    border-radius: 3px;
    display: block
}

tr {
    display: table-row;
    text-align: center;
    border-color: inherit;
}

th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: inherit;
}

td {
    display: table-cell;
    vertical-align: inherit;
}
table tbody th {
    border-radius: 1px;
    background: #E3BD4A;
    color: black;
    padding: 1rem 2rem;
}

table {
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
}

table tbody td {
    border-radius: 1px;
    background: #040B18;
    padding: 1rem 2rem;
    transition: ease-in-out .2s;
}

.menu-links {
    font-family: 'Poppins SemiBold', sans-serif;
    display: flex;
    padding: 0;
    margin-bottom: 5rem;
    font-size: 14pt;
    list-style: none;
    transition: .3s ease-in-out;
}

.menu-links a {
    transition: .3s ease-in-out;
    color: #E3BD4A;
    text-decoration: none;
}

.menu-links a:hover {
    color: #8E6C04 !important;
    font-weight: bold;
}

.menu-links li {
    margin: 0 15px 0;
}

.menu-links li:first-child {
    margin-left: 0;
}

footer {
    margin: 5em auto;
    width: min(900px, 90vw);
}